<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wineberryhalley.bclassapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:requestLegacyExternalStorage="true"
        >
        <provider
            android:name=".notification.NotifProvider"
            android:authorities="${applicationId}.notifprov"
            android:exported="false"
            android:label="LentItemsProvider" />

        <provider
            android:name=".baseapi.BaseProviderApp"
            android:authorities="${applicationId}.base.prov"
            android:exported="false"
            android:label="LentItemsProvider" />

    </application>

</manifest>